.selected{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  font-size: 15px;
}



.chude-padding{
  padding: 20px;
  justify-content: center;
}

option{
  font-size: 15px;
}

.chude-title{
  float: left;
  width: 150px;
  padding-top: 12px;
  font-size: 20px
}

.chude-input{
  width: 200px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border-width: 1px;
  font-size: 15px;
}

